.headroom {
    /* height: 3rem; */
    z-index: 9999!important;
}

.header .navbar {
    background-color: #ffffff;
    box-shadow: 0 0.15rem 2rem rgba(0, 0, 0, 0.15);
    height: 3rem;
}

.header .navbar {
    padding: 0;
}

.header .nav {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 0;
}

.header .nav-item {
    font-weight: bold;
    position: relative;
}

.header .nav-item:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 6px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000;
    visibility: hidden;
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header .nav-item:hover:before {
    transform: scaleX(1);
    visibility: visible;
}

#responsive-navbar-nav .nav-link {
    color: black;
}

#responsive-navbar-nav .nav-link:hover {
    color: #a30100;
}

.logo {
    height: 2.375rem;
}
